@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Merriweather", serif;
}

/* banner section style start hear  */

.banner-container {
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 20px;
    min-height: 600px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-image: url(../images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.banner-content p,
h1 {
    color: wheat;

}

.banner-content p {
    font-size: 32px;
    font-weight: 400;
}

.banner-content h1 {
    font-size: 72px;
    font-weight: 900;
}

/* 65% OFF section starts header */
.second-section-container {
    width: 802.9px;
    height: 806px;
    margin: 0% auto;
    margin-top: 120px;
}

.second-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-section-content h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.second-section-content p {
    font-family: Inter;
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.second-section-content h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.second-section-img {
    width: 802.9px;
    height: 500px;
    margin-top: 48px;
}

.second-section-img img {
    height: 100%;
    width: 100%;
    /* border-style: dashed;
    border-color: darkgray; */
}

/* 65% OFF section ends header */

/* Midnight party section starts here */
.midnight-party-container {
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.left-side-content {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;

}

.left-side-content h1 {
    width: 642px;
    height: 176px;
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-left: 126px;
    margin-bottom: 24px;
}

.left-side-content p {
    width: 697px;
    height: 60px;
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin: top 24px;
    margin-left: 50px;
    padding-left: 50px;
}

#midnight-buttoon {
    width: 103px;
    height: 24px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-right: 400px;
    margin-top: 48px;
}

.right-side-content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side-content img {
    width: 349.16px;
    height: 464.65px;
    /* border-style: dashed;
    border-color: rgb(90, 87, 87); */
}

/* Midnight party section ends here */

/* new park hotel section start here */

.nwe-Park-hotel-container {
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
}

.new-park-content {
    width: 549px;
    height: 168px;
    margin: 0 auto;
    margin-top: 100px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-align: center;

}

.new-discription {
    color: rgb(255, 0, 0)
}

.new-park-btn {
    width: 167px;
    height: 56px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 64px;
    background-color: red;
    border: none;
    border-radius: 5px;
}

/* new park hotel section ends here */

/* New best offer section starts here */

.new-best-offer-cotainer {
    width: 1320px;
    height: 463px;
    margin: 0 auto;
    display: flex;
}

.new-offer-first-content {
    width: 33%;
}

.new-offer-first-content h3 {
    width: 207px;
    height: 29px;
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 104px;
}

.new-offer-first-content h1 {
    width: 328px;
    height: 60px;
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
}

.new-offer-first-content p {
    width: 393px;
    height: 128px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 22px;
}

.new-offer-second-content {
    width: 33%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px solid red;
    margin-left: 70px;
    padding: 49px 49px 49px 49px;

}

/* .new-offer-second-content img {
    border: 2px solid darkolivegreen;
    border-style: dashed;
} */

.new-offer-third-content {
    width: 33%;
    margin-left: 118px;
}

.new-offer-third-content h1 {
    width: 126px;
    height: 58px;
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 112px;
}

.new-offer-third-content p {
    width: 276px;
    height: 96px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
}

.new-offer-third-content img {
    margin-top: 35px;
}

/* New best offer section ends here

/* HOLIDAYS SALES section starts here */

.holidays-sales-container {
    width: 1320px;
    height: 986.07px;
    margin: 0 auto;
    position: relative;
    text-align: center;

}

.holidays-sales-container h3 {
    width: 100%;
    height: 29px;
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 120px;
}

.holidays-sales-container h1 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;
}

.extra-text-color-red {
    color: rgb(255, 0, 0);
}

.extra-text-color-black {
    color: rgb(7, 2, 17);
}

.holidays-sales-container p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-top: 28px;
}

.solid-color {
    width: 1320px;
    height: 229px;
    background-color: red;
    position: absolute;
    top: 77%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.gitfbox {
    width: 674.82px;
    height: 577.96px;
    position: relative;
    z-index: 1;
}

.girl-container{
    position: absolute;
    bottom: 288px;
    left: 70%;
}
/* HOLIDAYS SALES section ends here */